*{
    padding: 0;
    background-color: #f0f2f5 ;
}
.form input{
    width: 350px;
    height: 55px;
    padding: 10px;
    background: white;
    font-size: 18px;
}
.form{
    padding: 50px 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
}
.form a{
    background: none;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.btn{
    height: 55px;
    font-weight: 600;
    font-size: 20px;
}
